@model IEnumerable<MobileBackendMVC_Api.ViewModels.ContractorsViewModel>

@{
    ViewBag.Title = "Index";
}

@section scripts {
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        // oma filtteröintifunktio ..., jotka ovat aktiivisia
        $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
            // luetaan valintaruudun asetus
            var showArchive = $("#showArchiveContractorsCheckbox").is(":checked");

            // luetaan 9. solun arvo: tämä on "Active"
            var activeContractor = settings.aoData[dataIndex].anCells[9].children[0].checked;

            /* Jos käyttäjä on valinnut asetuksen "Näytä aktiiviset", otetaan listalle
             * mukaan myös arkistoidut .... Muussa tapauksessa (oletusarvo) ei näytetä.
             * Tämän funktion paluuarvo kertoo, näytetäänkö rivi taulukossa vai ei. */
            if (showArchive) {
                // näytetään kaikki ..., myös arkistoidut
                return true;
            }
            else {
                if (activeContractor) {
                    // ei näytetä arkistoituja ...
                    return true;
                }
                else {
                    return false;
                }
            }
        });

        $(function () {
            // sivun alustus
            //alert("Sivun alustus");
            var contractorTaulu = $("#contractorTable").DataTable();

            $("#showArchiveContractorsCheckbox").change(function () {
                // kun käyttäjä napsauttaa valintaruutua, päivitetään ...taulukko
                contractorTaulu.draw();
            });
        });

    </script>

}


@section head {

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/DataTables/datatables.css" rel="stylesheet" />
    <link href="~/Scripts/DataTables/dataTables.bootstrap.css" rel="stylesheet" />


    <style>
        /*div.dataTables_wrapper div.dataTables_filter input {
            width: 400px;
        }*/
    </style>
}

<title>WorkAssignment</title>

<!-- !SIDEMENU CONTENT!
================================================== -->
@{ Html.RenderAction("SideMenu", "Customers");}

<!-- !PAGE CONTENT!
================================================== -->
<div class="w3-main" style="margin-left:300px">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Container -->
    <div class="w3-container">

        <h2>Contractors</h2>

        <p>&nbsp;</p>
        @*<p>Customers total: @Model.Count()</p>*@

        <p><a href="/Contractors/Create" class="w3-btn w3-large">New Contractor</a></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>Show all contractors: <input id="showArchiveContractorsCheckbox" type="checkbox" /></p>

        <table class="table" id="contractorTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactPerson)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmailAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VatId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HourlyRate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Active)
                    </th>


                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CompanyName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactPerson)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PhoneNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VatId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HourlyRate)
                        </td>
                        <td>
                            @{
                                string True = "";
                                if (item.Active.HasValue && (item.Active.Value == true))
                                {
                                    True = "checked";
                                }
                            }
                            <input name="Active" type="checkbox" @True />
                            @*@Html.DisplayFor(modelItem => item.Active)*@
                        </td>


                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id_Contractor }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id_Contractor }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id_Contractor })
                        </td>
                    </tr>
                                }
            </tbody>
        </table>
    </div><!-- End content -->
</div><!-- End page content -->