@model IEnumerable<MobileBackendMVC_Api.ViewModels.WorkAssignmentsViewModel>

@{
    ViewBag.Title = "Index";
}

@section scripts {
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap.js"></script>

   <script type="text/javascript">

       // oma filtteröintifunktio ..., jotka ovat aktiivisia
       $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
           // luetaan valintaruudun asetus
           var showArchive = $("#showArchiveInProgressCheckbox").is(":checked");

           // luetaan 5. solun arvo: tämä on "InProgress"
           var activeInProgress = settings.aoData[dataIndex].anCells[5].children[0].checked;

           /* Jos käyttäjä on valinnut asetuksen "Näytä aktiiviset", otetaan listalle
            * mukaan myös arkistoidut .... Muussa tapauksessa (oletusarvo) ei näytetä.
            * Tämän funktion paluuarvo kertoo, näytetäänkö rivi taulukossa vai ei. */
           if (showArchive) {
               // näytetään kaikki ..., myös arkistoidut
               return true;
           }
           else {
               if (activeInProgress) {
                   // ei näytetä arkistoituja ...
                   return true;
               }
               else {
                   return false;
               }
           }
       });

       $(function () {
           // sivun alustus
           //alert("Sivun alustus");
           var workassignmentTaulu = $("#workAssignmentTable").DataTable();

           $("#showArchiveInProgressCheckbox").change(function () {
               // kun käyttäjä napsauttaa valintaruutua, päivitetään ...taulukko
               workassignmentTaulu.draw();
           });
       });

       // oma filtteröintifunktio ..., jotka ovat aktiivisia
       $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
           // luetaan valintaruudun asetus
           var showArchive = $("#showArchiveCompletedCheckbox").is(":checked");

           // luetaan 7. solun arvo: tämä on "Completed"
           var activeCompleted = settings.aoData[dataIndex].anCells[7].children[0].checked;

           /* Jos käyttäjä on valinnut asetuksen "Näytä aktiiviset", otetaan listalle
            * mukaan myös arkistoidut .... Muussa tapauksessa (oletusarvo) ei näytetä.
            * Tämän funktion paluuarvo kertoo, näytetäänkö rivi taulukossa vai ei. */
           if (showArchive) {
               // näytetään kaikki ..., myös arkistoidut
               return true;
           }
           else {
               if (activeCompleted) {
                   // ei näytetä arkistoituja ...
                   return true;
               }
               else {
                   return false;
               }
           }
       });

       $(function () {
           // sivun alustus
           //alert("Sivun alustus");
           var workassignmentTaulu = $("#workAssignmentTable").DataTable();

           $("#showArchiveCompletedCheckbox").change(function () {
               // kun käyttäjä napsauttaa valintaruutua, päivitetään ...taulukko
               workassignmentTaulu.draw();
           });
       });


       // oma filtteröintifunktio ..., jotka ovat aktiivisia
       $.fn.dataTable.ext.search.push(function (settings, data, dataIndex) {
           // luetaan valintaruudun asetus
           var showArchive = $("#showArchiveWorkAssignmentsCheckbox").is(":checked");

           // luetaan 10. solun arvo: tämä on "Active"
           var activeWorkassignment = settings.aoData[dataIndex].anCells[10].children[0].checked;

           /* Jos käyttäjä on valinnut asetuksen "Näytä aktiiviset", otetaan listalle
            * mukaan myös arkistoidut .... Muussa tapauksessa (oletusarvo) ei näytetä.
            * Tämän funktion paluuarvo kertoo, näytetäänkö rivi taulukossa vai ei. */
           if (showArchive) {
               // näytetään kaikki ..., myös arkistoidut
               return true;
           }
           else {
               if (activeWorkassignment) {
                   // ei näytetä arkistoituja ...
                   return true;
               }
               else {
                   return false;
               }
           }
       });
       $(function () {
           // sivun alustus
           //alert("Sivun alustus");
           var workassignmentTaulu = $("#workAssignmentTable").DataTable();

           $("#showArchiveWorkAssignmentsCheckbox").change(function () {
               // kun käyttäjä napsauttaa valintaruutua, päivitetään ...taulukko
               workassignmentTaulu.draw();
           });
       });

</script>

}

@section head {

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/DataTables/datatables.css" rel="stylesheet" />
    <link href="~/Scripts/DataTables/dataTables.bootstrap.css" rel="stylesheet" />


    <style>
        /*div.dataTables_wrapper div.dataTables_filter input {
            width: 400px;
        }*/
    </style>
}

<title>WorkAssignment</title>

<!-- !SIDEMENU CONTENT!
================================================== -->
@{ Html.RenderAction("SideMenu", "Customers");}

<!-- !PAGE CONTENT!
================================================== -->
<div class="w3-main" style="margin-left:300px">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Container -->
    <div class="w3-container">
        <h2>Work Assignments</h2>
        <p>&nbsp;</p>

        <p><a href="/WorkAssignments/Create" class="w3-btn w3-large">New WorkAssignment</a></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>Show all workassignments: <input id="showArchiveWorkAssignmentsCheckbox" type="checkbox" /></p>
        <p>Show all inprogress: <input id="showArchiveInProgressCheckbox" type="checkbox" /></p>
        <p>Show completed : <input id="showArchiveCompletedCheckbox" type="checkbox" /></p>

        <table class="table" id="workAssignmentTable">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Deadline)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InProgress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InProgressAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Completed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompletedAt)
                </th>           
                <th>
                    @Html.DisplayNameFor(model => model.LastModifiedAt)
                </th>
             
                <th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeletedAt)
                </th>

          
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Deadline)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @{
                            string True = "";
                            if (item.InProgress.HasValue && (item.InProgress.Value == true))
                            {
                                True = "checked";
                            }
                        }
                        <input name="InProgress" type="checkbox" @True />
                        @*@Html.DisplayFor(modelItem => item.InProgress)*@
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.InProgressAt)
                    </td>
                            
                    <td>
                        @{
                            string Completed1 = "";
                            if (item.Completed.HasValue && (item.Completed.Value == true))
                            {
                                Completed1 = "checked";
                            }
                        }
                        <input name="Completed" type="checkbox" @Completed1 />
                        @*@Html.DisplayFor(modelItem => item.Completed)*@
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompletedAt)
                    </td>
                  
                    <td>
                        @Html.DisplayFor(modelItem => item.LastModifiedAt)
                    </td>
                
                    <td>
                        @{
                            string Active1 = "";
                            if (item.Active.HasValue && (item.Active.Value == true))
                            {
                                Active1 = "checked";
                            }
                        }
                        <input name="Active" type="checkbox" @Active1 />
                        @*@Html.DisplayFor(modelItem => item.Active)*@
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DeletedAt)
                    </td>
               
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id_WorkAssignment }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id_WorkAssignment }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id_WorkAssignment })
                    </td>
                </tr>
                            }

        </table>
    </div><!-- End content -->
</div><!-- End page content -->